*{
    margin: 0;
    padding: 0;/*for making the default margin 0 */
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;/*there are two types  1. border box 2. content box there is some difference with the addition of margin and padding */

}

.container{
    /* the full width of the screen will be inside the width makes it responsive for the changing dimensions */
    width: 100%;
    /* the minimum height should be 100vh means maximum can be any but cannot be smaller than 100vh */
    min-height: 100vh;
    /* the background is used to give the background while using linear gradient it is used to mix the color in the desired manner  */
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    /*The maximum widht of this div can be 540 not more than that*/
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    /*The border radius is used to make the border circular*/
    border-radius: 10px;
}
.todo-app h2{
    color:#002765;
    display: flex;
    align-items: center;
    margin-bottom:20px;

}
.todo-app h2 img{
    width: 30px;
    margin-left:10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}

input{
    flex: 1;
    border: none;
    outline: none;
    background:transparent;
    padding:10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding:16px 50px;
    background: #ff5945;
    color:#fff;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    
}

ul li{
    list-style-type: none;
    font-size: 17px;
    padding:12px 8px 12px 50px;
    user-select: none;
    cursor: pointer; 
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius:50%;
    background-image:url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
  color:#555;
}

ul li.checked::before{
    background-image: url(checked.png);

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span::hover{
    background:#edeef0;
}